body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1a1a2e;
    background-image: url("/assets/menu-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#app {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
